@model EmailListModel
@{
    ViewData["Title"] = "BrowseEmails";
}

<h1>BrowseEmails</h1>
<a class="btn btn-primary"
   href="@Url.Action("BrowseEmails", "ListEmails",
        new { filter=1 })">Not Reviewed</a>
@{ 
    foreach (var email in Model.emailList)
    {
        <p> email ID:@email.EmailId</p>
        <p> email ID:@email.Emailreceived</p>
        <p> email ID:@email.EmailSender</p>
        <p> email ID:@email.EmailStatus</p>
        
    }
}