/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
 
  height: 60px;

}*/
/* custom made stuff*/
body {
    background-image: url('resource/bcr.png');
    padding-bottom: 100px;
}

#tabledata th {
    max-width: 20px;
}

#tabledata td {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

}


tr {
    width: 100%;
}

td {
    width: 33.33%;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 60px;
    color: #4a4a49;
    text-align: left;
    position: absolute;
    white-space: nowrap;
    bottom: 0;
    width: 100%;
    clear:both;
    margin-top:auto;
    display:table-row;
}
#bottom-tier{
    margin-top:20px;
    
    padding-bottom:201123px;
}


